<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo Viêt Nam</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    link rel="stylesheet" href="style.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <!-- NAVIGATION BAR -->
    <ul class="nav nav-pills navbar-light justify-content-around py-2 fixed-top" style="background-color: #e3f2fd;">
        <!-- LOGO go hear -->
        <div class="d-flex flex-row">
            <img src="logo.png" alt="">
            <div class="btn-group">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black fw-bold" data-bs-toggle="dropdown" href="#"
                        role="button" aria-expanded="false">Chủ đề</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bóng đá</a></li>
                        <li><a class="dropdown-item" href="#">An ninh - Trật tự</a></li>
                        <li><a class="dropdown-item" href="#">Công nghệ</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item" href="#">Xem thêm chủ đề khác</a></li>
                    </ul>
                </li>

                <div class="btn text-black" style="font-size: 16px;"><b>Bóng đá</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Thế giới</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Xã hội</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Thời sự</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Giao thông</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Văn hóa</b></div>
                <div class="btn text-black" style="font-size: 16px;"><b>Hình sự - Dân sự</b></div>
            </div>
        </div>
        <form class="form-inline d-flex flex-row">
            <input class="form-control mr-sm-2 px-5" type="search" placeholder="Tìm kiếm bài báo" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 mx-4" type="submit">🔍</button>
        </form>
    </ul>

    <br><br><br><br>

    <!-- TOPIC GO HERE -->
    <div class="container d-flex flex-row justify-content-between">
        <div class="btn btn-outline-danger m-1" style="border-radius: 0 20px 0 20px;"><b>Thể
                thao</b>
        </div>
        <div style="padding: 10px;" class="header-icons">
            <a href="#" class="social-icon" style="color: #bb2d3b; font-size: 24px;"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon" style="color: #bb2d3b; font-size: 24px;"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon" style="color: #bb2d3b; font-size: 24px;"><i
                    class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon" style="color: #bb2d3b; font-size: 24px;"><i class="fas fa-link"></i></a>
            <a href="#" class="social-icon" style="color: #bb2d3b; font-size: 24px;"><i class="fas fa-print"></i></a>
        </div>
    </div>


    <!-- TITLE GO HERE -->
    <div class="container">
        <hr class="hr mb-1" />
        <!-- <div class="py-1 " style="background-color: #bb2d3b"></div> -->
        <!-- <hr class="hr m-1" /> -->
        <div style="font-weight: bold;" class="review">
            <div class="px-5" style="text-align: left; font-size: 45px;">Vòng loại 2 FIFA World Cup 2026: Cơ hội không
                còn với Đội tuyển Việt Nam</div>
            <div class="px-5" style="text-align: left; font-size: 45px;"></div>
        </div>

        <hr class="hr m-1" />
        <!-- <div class="py-1 " style="background-color: #bb2d3b"></div> -->
        <!-- <hr class="hr m-1" /> -->
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- SHARE GO HERE -->


    <!-- CONTENT GO HERE -->
    <div class="container d-flex justify-content-between">
        <div class="col-2">

        </div>
        <div class="col-2" style="width: 700px; font-size: 1.125rem;">
            <p style="text-align: justify;">Bước vào trận tái đấu với tuyển Indonesia trên sân Mỹ Đình, HLV Philippe
                Troussier chỉ có 2 sự thay đổi so với trận lượt đi khi Đình Bắc và Minh Trọng nhường chỗ cho Văn Khang
                và Văn Thanh.</p>
            <p style="text-align: justify;">Trong khung gỗ vẫn là thủ môn Nguyễn Filip, người đã chứng tỏ được chuyên
                môn kể từ khi được triệu tập trong màu áo tuyển Việt Nam. Những cầu thủ được lựa chọn quen thuộc là Việt
                Anh, Tiến Dũng, Tuấn Tài, Xuân Mạnh, Hùng Dũng, Thái Sơn, Hoàng Đức và Tiến Linh. Trường hợp gây tranh
                cãi nhiều nhất trong trận đấu vừa qua là Quang Hải tiếp tục ngồi dự bị.</p>
            <figure class="image-wrap align-center-image"><img
                    src="https://static.kinhtedothi.vn/w960/images/upload/2024/03/26/img-9805.jpeg"
                    alt="Tuyển Việt Nam gặp kh&amp;oacute; trước tuyển Indonesia. Ảnh: Ngọc T&amp;uacute;."
                    data-original="https://static.kinhtedothi.vn/images/upload//2024/03/26/img-9805.jpeg"
                    style="max-width: 700px; height: auto;">
                <figcaption class="image-caption">Tuyển Việt Nam gặp khó trước tuyển Indonesia. Ảnh: Ngọc Tú.
                </figcaption>
            </figure>
            <p style="text-align: justify;">Chiến thắng là mục tiêu của HLV Philippe Troussier và các học trò, ngay sau
                tiếng còi khai cuộc các cầu thủ đẩy cao đội hình để tìm kiếm bàn thắng. Trong khi đó, tuyển Indonesia
                cũng cho thấy tinh thần cao sau chiến thắng ở trận lượt đi để thi đấu đôi công với tuyển Việt Nam.</p>
            <p style="text-align: justify;">Phút thứ 3, các cầu thủ Indonesia tạo nên pha bóng lộn xộn trước khung thành
                tuyển Việt Nam nhưng các cầu thủ nhà đã kịp thời phá bóng lên.&nbsp;Tuyển Việt Nam có câu trả lời ở phút
                thứ 5 khi Văn Khang có pha dứt điểm vào góc hẹp nhưng không thắng được thủ môn đội khách.</p>
            <figure class="image-wrap align-center-image"><img
                    src="https://static.kinhtedothi.vn/w960/images/upload/2024/03/26/img-9806.jpeg"
                    alt="Tuyển Indonesia bất ngờ c&amp;oacute; b&amp;agrave;n thắng v&amp;agrave;o lưới tuyển Việt Nam. Ảnh: Ngọc T&amp;uacute;."
                    data-original="https://static.kinhtedothi.vn/images/upload//2024/03/26/img-9806.jpeg"
                    style="max-width: 700px; height: auto;">
                <figcaption class="image-caption">Tuyển Indonesia bất ngờ có bàn thắng vào lưới tuyển Việt Nam. Ảnh:
                    Ngọc Tú.</figcaption>
            </figure>
            <p style="text-align: justify;">Bất ngờ đến ở phút thứ 9, tuyển Indonesia có bàn thắng mở tỷ số sau pha đánh
                đầu của&nbsp;Idzes.&nbsp;Bàn thua khiến cả khán đài sân Mỹ Đình "chết lặng", tinh thần của tuyển Việt
                Nam càng đi xuống. Có được bàn thắng, các cầu thủ Indonesia chủ động lùi đội hình và nhường kiểm soát
                bóng cho tuyển Việt Nam. Tuy nhiên, thầy trò HLV Troussier không có được những tình huống tấn công sắc
                nét.&nbsp;
            </p>
            <p style="text-align: justify;">Phút thứ 24, Ragnar&nbsp;Oratmangoen có tình huống đột phá qua hàng loạt cầu
                thủ Việt Nam trước khi ghi bàn nâng tỷ số lên 2-0.&nbsp;Bàn thua thứ 2 khiến tuyển Việt Nam khó khăn
                chồng chất, đặc biệt khi đối thủ thi đấu hơn hẳn so với tuyển Việt Nam.</p>
            <p style="text-align: justify;">Nhận 2 bàn thua nhưng các cầu thủ Việt Nam thi đấu mờ nhạt, lối chơi không
                cải thiện và không tạo ra quá nhiều cơ hội về phía khung thành đối thủ.</p>
            <figure class="image-wrap align-center-image"><img
                    src="https://static.kinhtedothi.vn/w960/images/upload/2024/03/26/img-9807.jpeg"
                    alt="Tuyển Việt Nam để thủng lưới 2 b&amp;agrave;n trong hiệp 1. Ảnh: Ngọc T&amp;uacute;."
                    data-original="https://static.kinhtedothi.vn/images/upload//2024/03/26/img-9807.jpeg"
                    style="max-width: 700px; height: auto;">
                <figcaption class="image-caption">Tuyển Việt Nam để thủng lưới 2 bàn trong hiệp 1. Ảnh: Ngọc Tú.
                </figcaption>
            </figure>
            <p style="text-align: justify;">Bước vào hiệp 2, tuyển Việt Nam có sự thay đổi khi Thái Sơn nhường chỗ cho
                Thành Long. Quang Hải vẫn ngồi dự bị dù thế trận của tuyển Việt Nam không cải thiện so với hiệp thi đấu
                đầu tiên. Thận chí, Quang Hải không được tung vào sân khiến nhiều cổ động viên tiếc nuối. Trên khán đài,
                nhiều tấm băng rôn có nội dung đòi đuổi&nbsp; HLV Philippe Troussier được cổ động viên căng lên.</p>
            <p style="text-align: justify;">Phút thứ 63, Bùi Hoàng Việt Anh có cơ hội trong vòng cấm tuyển Indonesia
                nhưng cú dứt điểm của anh đã đi ra ngoài. &nbsp;Ở những phút còn lại, tuyển Việt Nam đẩy cao đội hình
                với sự
                cơ động của Văn Toàn bên cánh phải. Nhiều tình huống nguy hiểm được tạo ra nhưng các chân sút của tuyển
                Việt Nam tỏ ra khá vô duyên.</p>
            <p style="text-align: justify;">Ở những phút thi đấu bù giờ cuối cùng, tuyển Indonesia có thêm bàn thắng thứ
                3.Khép lại trận đấu, tuyển Việt Nam để thua tuyển Indonesia với tỷ số 0 - 3. Đây là trận thua thứ 3 liên
                tiếp của tuyển Việt Nam khi đối đầu với đội bóng của HLV Shin Tae-yong. Trận thua này khiến tuyển Việt
                Nam gặp khó trong cuộc giành vé đi tiếp vào vòng 3 tại F.</p>
        </div>

        <div class="col-2">
        </div>
    </div>


</body>

</html>