.nav {
    background: #2fa1b3;
    color: white;
}

div.featurette {
    /* border-radius: 19px; */
    background: #f4e3c2;
}

div.featurette:hover {
    /* border-radius: 12px; */
    background: #fcdb99;
    /* border: solid 1px; */
}